.like {
  display: flex;
  justify-content: space-around;
  cursor: pointer;

  &__icon {
    margin: 2rem;
    font-size: 6rem;
    color: var(--color-primary-dark);

    &:active {
      transform: scale(0.95);
    }
  }
}

.effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12rem;
  color: var(--color-grey-light);
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

@media only screen and (max-width: 600px) {
  .like {
    order: -1;
  }
}
